## Reqs

In [ ]:
!git clone https://github.com/NeuralClassifier/ReusabilityRate_ML
!git checkout corr_analysis
%cd /content/ReusabilityRate_ML/DataSets

Cloning into 'ReusabilityRate_ML'...
remote: Enumerating objects: 150, done.
remote: Counting objects: 100% (150/150), done.
remote: Compressing objects: 100% (142/142), done.
remote: Total 150 (delta 63), reused 15 (delta 6), pack-reused 0
Receiving objects: 100% (150/150), 9.04 MiB | 10.91 MiB/s, done.
Resolving deltas: 100% (63/63), done.
fatal: not a git repository (or any of the parent directories): .git
/content/ReusabilityRate_ML/DataSets

In [ ]:
import pandas as pd
import numpy as np


from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_absolute_error 
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import statistics
import tensorflow as tf

import warnings
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### Read class and package metrics(x:inputs) and RR(y:label)

In [ ]:
cls_df = pd.read_csv('cls_normalized.csv')
pkg_df = pd.read_csv('pkg_normalized.csv')
cls_df.drop(['Unnamed: 0'], axis=1, inplace=True)
pkg_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
pkg_df

                             Project  ... ReuseRate_lbl
0     ch.qos.logback/logback-classic  ...             0
1     ch.qos.logback/logback-classic  ...             0
2     ch.qos.logback/logback-classic  ...             0
3     ch.qos.logback/logback-classic  ...             0
4     ch.qos.logback/logback-classic  ...             0
...                              ...  ...           ...
2188               xerces/xercesImpl  ...             0
2189               xerces/xercesImpl  ...             0
2190               xerces/xercesImpl  ...             2
2191               xerces/xercesImpl  ...             0
2192               xerces/xercesImpl  ...             0

[2193 rows x 23 columns]

## Class DNN

### Load data

In [ ]:
data = cls_df
df = data.iloc[:,3:-2]
data_columns = df.columns
X_np = np.array(df)
X = X_np

Y = data.iloc[:,-1]

In [ ]:
data

                              Project  ... ReuseRate_lbl
0      ch.qos.logback/logback-classic  ...             4
1      ch.qos.logback/logback-classic  ...             3
2      ch.qos.logback/logback-classic  ...             4
3      ch.qos.logback/logback-classic  ...             4
4      ch.qos.logback/logback-classic  ...             4
...                               ...  ...           ...
24789               xerces/xercesImpl  ...             0
24790               xerces/xercesImpl  ...             0
24791               xerces/xercesImpl  ...             0
24792               xerces/xercesImpl  ...             0
24793               xerces/xercesImpl  ...             0

[24794 rows x 32 columns]

In [ ]:
data_columns

Index(['LCOM5', 'NL', 'NLE', 'WMC', 'CBO', 'CBOI', 'NII', 'NOI', 'RFC', 'AD',
       'CD', 'TCD', 'CLOC', 'TCLOC', 'DLOC', 'PDA', 'DIT', 'LLOC', 'LOC',
       'TLOC', 'NG', 'TLLOC', 'TNA', 'TNG', 'TNM', 'TNOS', 'TNPM'],
      dtype='object')

In [ ]:
cls_correletad_idx = [5, 12, 13, 14, 15]

### Training data preparation

In [ ]:
splitter = int(len(X) * .8)
X_train = X[:splitter].astype('float32')
Y_train = Y[:splitter].astype('int32')
X_val = X[splitter:].astype('float32')
Y_val = Y[splitter:].astype('int32')

### Train model

In [ ]:
##model

def my_model_fully_connected(loss_fn, opt, ishape = 27, lr = 1e-2):
    model_input = tf.keras.layers.Input(shape = ishape)
    l2 = tf.keras.layers.Dense(50, activation = 'relu')(model_input)
    l2_drop = tf.keras.layers.Dropout(0.02)(l2)
    l3 = tf.keras.layers.Dense(20, activation = 'relu')(l2_drop)
    l4 =  tf.keras.layers.Dense(20, activation = 'relu')(l3)
    l5 =  tf.keras.layers.Dense(10, activation = 'relu')(l4)
    #l6 =  tf.keras.layers.Dense(10, activation = 'relu')(l5)
    out= tf.keras.layers.Dense(1, activation = 'softmax')(l5)
    model = tf.keras.models.Model(inputs = model_input, outputs = out)
    model.compile(optimizer=opt, loss=loss_fn, metrics = ['accuracy'])
    return model

lr = 0.001
opt = 'adam'
loss_fn = 'mse'
model = my_model_fully_connected(loss_fn, opt, ishape=18, lr= lr)
print(model.summary())

Model: "model_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_4 (InputLayer)        [(None, 18)]              0

 dense_17 (Dense)            (None, 50)                950

 dropout_3 (Dropout)         (None, 50)                0

 dense_18 (Dense)            (None, 20)                1020

 dense_19 (Dense)            (None, 20)                420

 dense_20 (Dense)            (None, 10)                210

 dense_21 (Dense)            (None, 1)                 11

=================================================================
Total params: 2,611
Trainable params: 2,611
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
# Call backs 
model_name_fcn = "First_draft.h5"
early_stop = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience = 20)

monitor = tf.keras.callbacks.ModelCheckpoint(model_name_fcn, monitor='val_loss',\
                                             verbose=0, save_best_only=True,\
                                             save_weights_only=True,\
                                             mode='min')
# Learning rate schedule
def scheduler(epoch, lr):
    if epoch%10 == 0:
        lr = lr/2
    return lr

lr_schedule = tf.keras.callbacks.LearningRateScheduler(scheduler, verbose = 0)

In [ ]:
# Train
model.fit(X_train, Y_train, epochs = 100, batch_size=200, \
          verbose = 1, callbacks= [early_stop, monitor, lr_schedule], validation_data= (X_val, Y_val))

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split

clf = MLPClassifier(hidden_layer_sizes=(200, 100, 50, 20, 10), random_state=1, max_iter=300, solver='adam').fit(X_train, Y_train)

clf.score(X_val, Y_val)

0.7469247832224238

In [ ]:
X_train

In [ ]:

for i in range(len(X_train[0])):
  print('feature: {0} \n'.format(i))
  X_temp_train = np.zeros((len(X_train), len(X_train[0])))
  X_temp_val =  np.zeros((len(X_val), len(X_val[0])))

  X_temp_train[:, i] = X_train [:,i]
  X_temp_val[:, i] = X_val [:,i]
  clf = MLPClassifier(hidden_layer_sizes=(200, 100, 50, 20, 10), random_state=1, max_iter=600, solver='adam').fit(X_temp_train, Y_train)
  print(clf.score(X_temp_val, Y_val))

In [ ]:
X_temp_train = np.zeros((len(X_train), len(X_train[0])))
X_temp_train[:, 0] = X_train [:,0]
X_temp_train

### Regression

In [ ]:
data = cls_df
df = data.iloc[:,3:-2]
data_columns = df.columns
X_np = np.array(df)
X = X_np

Y = data.iloc[:,-2]


splitter = int(len(X) * .8)
X_train = X[:splitter].astype('float32')
Y_train = Y[:splitter].astype('int32')
X_val = X[splitter:].astype('float32')
Y_val = Y[splitter:].astype('int32')

corr_data = True

if corr_data:
  X_temp_train = np.zeros((len(X_train), len(cls_correletad_idx)))
  X_temp_val =  np.zeros((len(X_val), len(cls_correletad_idx)))

  counter = 0
  for i in cls_correletad_idx:  
    X_temp_train[:,counter] = X_train [:,i]
    X_temp_val[:, counter] = X_val [:,i]
    counter += 1
  X_train = X_temp_train
  X_val = X_temp_val

In [ ]:
X_train

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

clf = MLPRegressor(hidden_layer_sizes=(200, 100, 50, 20, 10), random_state=1, max_iter=600, solver='adam').fit(X_train, Y_train)

Y_pred = clf.predict(X_val)
rms = mean_squared_error(Y_val, Y_pred, squared=False)
rms

1.618241740627832

## Package DNN

### Load data

In [ ]:
data = pkg_df
df = data.iloc[:,3:-2]
data_columns = df.columns
X_np = np.array(df)
X = X_np

Y = data.iloc[:,-1]
data_columns

In [ ]:
cls_correletad_idx = [1, 2, 3, 5, 17]

In [ ]:
splitter = int(len(X) * .8)
X_train = X[:splitter]
Y_train = Y[:splitter]
X_val = X[splitter:]
Y_val = Y[splitter:]

corr_data = False

if corr_data:
  X_temp_train = np.zeros((len(X_train), len(cls_correletad_idx)))
  X_temp_val =  np.zeros((len(X_val), len(cls_correletad_idx)))

  counter = 0
  for i in cls_correletad_idx:  
    X_temp_train[:,counter] = X_train [:,i]
    X_temp_val[:, counter] = X_val [:,i]
    counter += 1
  X_train = X_temp_train
  X_val = X_temp_val

## Train model

### REG

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

clf = MLPRegressor(hidden_layer_sizes=(100, 50, 20, 10), random_state=1, max_iter=600, solver='adam').fit(X_train, Y_train)

Y_pred = clf.predict(X_val)
rms = mean_squared_error(Y_val, Y_pred, squared=False)
rms

### Classification

In [ ]:
from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

clf = MLPClassifier(hidden_layer_sizes=(100, 50, 20, 10), random_state=1, max_iter=600, solver='adam').fit(X_train, Y_train)
clf.score(X_val, Y_val)